body {

}

/* cache les boutons radio des avatars */
input[name="avatar"] {
    display: none;
}

.avatar-radio {
    border: 3px solid transparent; /* pour pas que ça bouge */
    opacity: 0.3;
    width: 60px;
}

.avatar-radio:hover {
    opacity: 1.0;
}

/* je cible les img d'avatar étant à côté d'un input coché ! */
input[name="avatar"]:checked + .avatar-radio {
    opacity: 1.0;
}

.avatar {
    width: 64px;
}

img {
    max-width: 100%;
}
